@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --el-color-primary: #27ba9b; 
  --el-color-success: #1dc779; 
  --el-color-warning: #ffb302; 
  --el-color-danger: #e26237; 
  --el-color-error: #cf4444; 
}